<article class="users">
    <h1>Users</h1>
    <ul class="users_list">
        {{#users}}
            <li class="users__item">
                <a class="users__item__link" href="{{id}}">
                    <span class="users__item__id">id: {{id}}</span>
                    {{username}} &mdash; {{name}}
                </a>
            </li>
        {{/users}}
    </ul>
</article>