html,
body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  height: 100%;
  background: #563d7c;
  color: #fff;
}

*,
*:before, *:after {
  box-sizing: border-box;
}

body,
#root {
  min-height: 100%;
  margin: 0;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

/* ---- TODO: move to form.sass --------- */
.search {
  height: 2.45rem;
  background-color: #fafafa;
  min-width: 320px;
  display: inline-block;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  border-radius: .25rem;
  margin-bottom: 20px;
  border: 1px solid #999;
}

/* ---- TODO: move to button.sass --------- */
.button {
  min-width: 100px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  margin: 0 .5rem;
  border-radius: .25rem;
  background: #f0ad4e;
  color: #fff;
}

.button[disabled] {
  opacity: .5;
}

.button--action,
.button--action[disabled]:hover {
  background: #f0ad4e;
}

.button--action:hover {
  background: #ec971f;
}

.button--reset,
.button--reset[disabled]:hover {
  background: #d9534f;
}

.button--reset:hover {
  background: #c9302c;
}

/* ---- TODO: move to type.sass --------- */
h1,
h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

h2 {
  font-size: 16px;
}

h3 {
  margin: 0;
}

p {
  margin: 5px 0;
}

/* ---- TODO: move to repositories.sass ------- */
.repositories {
  max-width: 400px;
  margin: 20px auto;
  padding: 0;
}

.repositories__list {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.repositories__item {
  margin: -1px 0;
  font-size: 14px;
  padding: 10px 10px;
  background: #fff;
  color: #555;
  border: 1px solid #ddd;
}

.repositories__item:hover {
  background: #f5f5f5;
}

.repositories__item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.repositories__item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


/* ---- TODO: move to error and loader.sass ------- */
.error,
.loader {
  margin: 20px 0;
  text-align: center;
}

.loader {
  color: #fff;
}

.error {
  color: #ff0f00;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .search {
    min-width: 100%;
    width: 100%;
  }
}